<div class="panel-heading">
  <div class="btn-group width-100">
    <a tab-id="1" class="btn btn-default width-16 {% if tab_active == 1 %}onfocus{% endif %}">
      <i class="fa fa-inbox"></i>
      <span class="hidden-xs">{{ tab_open }}</span><br>
      <span class="label label-info">{{ tab.1 }}</span>
    </a>
    <a tab-id="2" class="btn btn-default width-16 {% if tab_active == 2 %}onfocus{% endif %}"><i class="fa fa-exclamation-triangle"></i> <span class="hidden-xs">{{ tab_pending }}</span><br><span class="label label-info">{{ tab.2 }}</span></a>
    <a tab-id="6" class="btn btn-default width-16 {% if tab_active == 6 %}onfocus{% endif %}"><i class="fa fa-lightbulb-o"></i> <span class="hidden-xs">{{ tab_answered }}</span><br><span class="label label-info">{{ tab.6 }}</span></a>
    <a tab-id="3" class="btn btn-default width-16 {% if tab_active == 3 %}onfocus{% endif %}"><i class="fa fa-check-circle"></i> <span class="hidden-xs">{{ tab_resolved }}</span><br><span class="label label-info">{{ tab.3 }}</span></a>
    <a tab-id="4" class="btn btn-default width-16 {% if tab_active == 4 %}onfocus{% endif %}"><i class="fa fa-minus-circle"></i> <span class="hidden-xs">{{ tab_closed }}</span><br><span class="label label-info">{{ tab.4 }}</span></a>
    <a tab-id="5" class="btn btn-default width-16 {% if tab_active == 5 %}onfocus{% endif %}"><i class="fa fa-ban"></i> <span class="hidden-xs">{{ tab_spam }}</span><br><span class="label label-info">{{ tab.5 }}</span></a>
  </div>
</div>
<div class="panel-body">
  <form action="{{ delete }}" method="post" enctype="multipart/form-data" id="form-ticket">
    <div class="table-responsive">
      <table class="table table-bordered table-hover">
        <thead>
          <tr>
            <td style="width: 1px;" class="text-center"><input type="checkbox" onclick="$('input[name*=\'selected\']').prop('checked', this.checked);" /></td>
            <td class="text-center">{{ column_priority }}</td>
            <td class="text-center">{{ column_ticket_no }}</td>
            <td class="text-center">{{ column_cname }}</td>
            <td class="text-center">{{ column_subject }}</td>
            <td class="text-center">{{ column_date_added }}</td>
            <td class="text-center">{{ column_replies }}</td>
            <td class="text-center" style="width: 20%;">{{ column_agent }}</td>
            <td class="text-center">{{ column_action }}</td>
          </tr>
        </thead>
        <tbody>
          {% if tickets %}
          {% for ticket in tickets %}
          <tr>
            <td class="text-center">
              <input type="checkbox" name="selected[]" value="{{ ticket['id'] }}" />
            </td>
            <td class="text-center" style="color: {{ ticket['priority']['color'] }}; font-weight: bold;">{{ ticket['priority']['name'] }}</td>
            <td class="text-center">#{{ ticket['ticket_id'] }}</td>
            <td class="text-center">{{ ticket['cname'] }}</td>
            <td class="text-center"><i class="{{ ticket['attachments'] ? "fa fa-paperclip" : '' }}"></i> {{ ticket['subject'] }}</td>
            <td class="text-center">{{ ticket['date_added'] }}</td>
            <td class="text-center"><span class="label label-info">{{ ticket['threads'] }}</span></td>
            <td class="text-left" ticket-id="{{ ticket['id'] }}" agent-id="{{ ticket['agent_id'] }}">
              {% if ticket['agent'] %}
              <span class="badge"><i class="fa fa-pencil"></i></span>
              <span class="agentName">{{ ticket['agent'] }}</span>
              {% else %}
              <span data-toggle="tooltip" title="Add agent" class="btn btn-primary addAgent"><i class="fa fa-plus-circle"></i></span>
              {% endif %}
              <select class="selectpicker" data-show-subtext="true" data-live-search="true"></select>
            </td>
            <td class="text-center"><a href="{{ ticket['view'] }}" class="btn btn-info">View</a></td>
          </tr>
          {% endfor %}
          {% else %}
          <tr>
            <td class="text-center" colspan="8">{{ text_no_results }}</td>
          </tr>
          {% endif %}
        </tbody>
      </table>
    </div>
  </form>
  <div class="row">
    <div class="col-sm-6 text-left">{{ pagination }}</div>
    <div class="col-sm-6 text-right">{{ results }}</div>
  </div>
</div>
