{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <h1>{{ heading_title }}</h1>
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
        <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
      {% if user_details %}
      <div class="alert alert-info pull-right">
        <span class="round-tabs">
          <img class="border" src="{{ user_details.pic }}">
        </span>
        <span class="name">
        {{ user_details.name }}
        </span>
      </div>
      {% endif %}
    </div>
  </div>
  <div class="container-fluid">
    {% if error_warning %}
    <div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    {% if success %}
    <div class="alert alert-success"><i class="fa fa-check-circle"></i> {{ success }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    <div class="col-sm-3">
      <div class="panel panel-default">
        <div class="panel-heading"><h3 class="panel-title">{{ text_labels }}</h3></div>
        <div class="panel-body labels-body">
          {% for key, value in predefined_labels %}
          <a href="{{ label_url ~ key }}" style="{% if label_active == key %}font-weight: 800; color: #333{% else %}color: #555{% endif %};">{{ key|capitalize }} <span class="label label-success">{{ value }}</span></a><br>
          {% endfor %}
          {% if custom_labels %}
          <span id="moreLabel">{{ text_more }} <span class="caret"></span></span><br>
          <div class="showLabel">
            {% for value in custom_labels %}
            <a href="{{ custom_label_url ~ value.id }}" style="{% if custom_label_active == value.id %}font-weight: 800; color: #333{% else %}color: #555{% endif %};">{{ value.name|capitalize }} <span class="label label-success" style="background-color: {{ value.color }};">{{ value.count }}</span></a><br>
            {% endfor %}
          </div>
          {% endif %}
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading"><h3 class="panel-title">{{ entry_filter_tickets }}</h3></div>
        <div class="panel-body filters-body">
          <div>
            <label for="filter-assigned" class="control-label"><span data-toggle="tooltip" title="{{ help_assigned }}">{{ entry_assigned_to }}</span></label>
            <br/>
            <div class="pos-relative" filter-type="agent">
              <i class="fa fa-spinner fa-spin"></i>
              <input type="text" placeholder="{{ help_assigned }}" class="form-control inputbox" id="filter-assigned">
            </div>
          </div>
          <div>
            <label for="filter-customer" class="control-label"><span data-toggle="tooltip" title="{{ help_customer }}">{{ entry_customer }}</span></label>
            <br/>
            <div class="pos-relative" filter-type="customer">
              <i class="fa fa-spinner fa-spin"></i>
              <input type="text" placeholder="{{ help_customer }}" class="form-control inputbox" id="filter-customer">
            </div>
          </div>
          <div>
            <label for="filter-group">{{ entry_group }}</label>
            <br/>
            <div class="pos-relative" filter-type="group">
              <i class="fa fa-spinner fa-spin"></i>
              <input type="text" placeholder="{{ help_group }}" class="form-control inputbox" id="filter-group">
            </div>
          </div>
          <div>
            <label for="filter-team">{{ entry_team }}</label>
            <br/>
            <div class="pos-relative" filter-type="team">
              <i class="fa fa-spinner fa-spin"></i>
              <input type="text" placeholder="{{ help_team }}" class="form-control inputbox" id="filter-team">
            </div>
          </div>
          <div>
            <label for="filter-priority">{{ entry_priority }}</label>
            <br/>
            <div class="pos-relative" filter-type="priority">
              <i class="fa fa-spinner fa-spin"></i>
              <input type="text" placeholder="{{ help_priority }}" class="form-control inputbox" id="filter-priority">
            </div>
          </div>
          <div>
            <label for="filter-type">{{ entry_type }}</label>
            <br/>
            <div class="pos-relative" filter-type="type">
              <i class="fa fa-spinner fa-spin"></i>
              <input type="text" placeholder="{{ help_type }}" class="form-control inputbox" id="filter-type">
            </div>
          </div>
          <div>
            <label for="filter-tag" class="control-label"><span data-toggle="tooltip" title="{{ help_tag }}">{{ entry_tag }}</span></label>
            <br/>
            <div class="pos-relative" filter-type="tag">
              <i class="fa fa-spinner fa-spin"></i>
              <input type="text" placeholder="{{ help_tag }}" class="form-control inputbox" id="filter-tag">
            </div>
          </div>
          <div>
            <label for="filter-mailbox">{{ entry_mailbox }}</label>
            <br/>
            <div class="pos-relative" filter-type="mailbox">
              <i class="fa fa-spinner fa-spin"></i>
              <input type="text" placeholder="{{ help_mailbox }}" class="form-control inputbox" id="filter-mailbox">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="panel panel-default col-sm-9">
      <div class="panel-heading top-heading">
        <h3 class="panel-title"><i class="fa fa-list"></i> {{ text_list }}</h3>
        <div class="pull-right">
          <button type="button" data-toggle="tooltip" title="{{ button_delete }}" class="btn btn-danger" onclick="confirm('{{ text_confirm }}') ? $('#form-ticket').submit() : false;"><i class="fa fa-trash-o"></i></button>
        </div>
        <div class="col-sm-4 pull-right" style="">
          <div class="input-group">
            <input type="text" name="search" id="search" value="{{ search }}" class="form-control" placeholder="{{ entry_search }}">
            <span class="input-group-addon btn" id="search-btn"><i class="fa fa-search"></i></span>
          </div>
        </div>
      </div>
      <div id="ticket-list">
        <div class="panel-heading">
          <div class="btn-group width-100">
            <a class="btn btn-default width-16"><i class="fa fa-inbox"></i> <span class="hidden-xs">{{ tab_open }}</span><br><span class="label label-info">0</span></a>
            <a class="btn btn-default width-16"><i class="fa fa-exclamation-triangle"></i> <span class="hidden-xs">{{ tab_pending }}</span><br><span class="label label-info">0</span></a>
            <a class="btn btn-default width-16"><i class="fa fa-lightbulb-o"></i> <span class="hidden-xs">{{ tab_answered }}</span><br><span class="label label-info">0</span></a>
            <a class="btn btn-default width-16"><i class="fa fa-check-circle"></i> <span class="hidden-xs">{{ tab_resolved }}</span><br><span class="label label-info">0</span></a>
            <a class="btn btn-default width-16"><i class="fa fa-minus-circle"></i> <span class="hidden-xs">{{ tab_closed }}</span><br><span class="label label-info">0</span></a>
            <a class="btn btn-default width-16"><i class="fa fa-ban"></i> <span class="hidden-xs">{{ tab_spam }}</span><br><span class="label label-info">0</span></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  var inprocess = 0;
  $('body').prepend('<div class="loader-div"><div id="loader-div"></div><div class="cp-spinner cp-boxes"></div></div>');
  $('#moreLabel').on('click', function () {
    $('.showLabel').slideToggle();
  });
  $('#search').on('keyup', function (e) {
    if (e.which == 13) {
      search = $('#search').val();
      if (search) {
        setHash('search', search);
      } else {
        removeHash('search')
      }
      filteredData();
    }
  });
  $('#search-btn').on('click', function () {
    search = $('#search').val();
    setHash('search', search);
    filteredData();
  });

  if (localStorage) {
    localStorage.uvdesk_groups = '{{ groups }}';
    localStorage.uvdesk_teams = '{{ teams }}';
    localStorage.uvdesk_priorities = '{{ priorities }}';
    localStorage.uvdesk_types = '{{ types }}';
    localStorage.uvdesk_tags = '{{ tags }}';
    localStorage.uvdesk_customers = '{{ customers }}';
  };

  function fromLocalstorage(type) {
    var thisthis = $('#' + type);
    var data = '';
    var result_html = '';
    var length = 0;
    $('.uvdesk-dropdown').css('display', 'none');
    input_value = $('#'+type).val();
    switch(type) {
      case 'filter-group':
        data = JSON.parse(localStorage.uvdesk_groups);
        break;
      case 'filter-team':
        data = JSON.parse(localStorage.uvdesk_teams);
        break;
      case 'filter-priority':
        data = JSON.parse(localStorage.uvdesk_priorities);
        break;
      case 'filter-type':
        data = JSON.parse(localStorage.uvdesk_types);
        break;
      case 'filter-mailbox':
        data = JSON.parse(localStorage.uvdesk_mailboxes);
        break;
    }
    length = Object.keys(data).length;
    var value_array = new Array();
    for (var i = 0; i < length; i++) {
      value_array[i] = data[i]['name'];
    }

    var search = input_value.toUpperCase();
    var array = jQuery.grep(value_array, function(value) {
        return value.toUpperCase().indexOf(search) >= 0;
    });

    new_length = Object.keys(array).length;
    if (new_length) {
      result_html += '<div class="uvdesk-dropdown">';
      result_html += '  <ul>';
      for (var i = 0; i < length; i++) {
        for(var j = 0; j < new_length; j++) {
          if(data[i]['name'] == array[j])
            result_html += '  <li filter-id="' + data[i]['id'] + '">' + data[i]['name'] + '</li>';
        }
      }
      result_html += '  </ul>';
      result_html += '</div>';
    } else {
      result_html = '<div class="uvdesk-dropdown" style="display: block;"><span style="margin-left: 10px;">No Results</span></div>';
    }
    thisthis.after(result_html);
  }

  $('.inputbox').on('keyup click', function () {
    var thisthis = $(this);
    var type = thisthis.attr('id');

    if((type == 'filter-assigned' || type == 'filter-customer' || type == 'filter-tag')) {
      if ((this.value).length < 2) {
        return;
      }
    } else {
      fromLocalstorage(type);
      return;
    }

    thisthis.prev().css('display', 'block');

    setTimeout(function () {
      filters(type, thisthis.val());
    }, 1000);
  });

  $('.inputbox').on('focusout', function () {
    $('.uvdesk-dropdown').slideUp();
  });

  function filters(type, value) {
    var thisthis = $('#' + type);

    if (type == 'filter-assigned' && localStorage && localStorage.uvdesk_members) {
      var members = JSON.parse(localStorage.uvdesk_members);
      var now = new Date().getTime();

      if ((members.timestamp + 900000) > now) {
        if (members.results) {
          var result_html = '';
          result_html += '<div class="uvdesk-dropdown">';
          result_html += '  <ul>';
          var count=0;

          for (var i = 0; i < members.results.length; i++) {
            if (members.results[i]["title"].toLowerCase().search(value) != '-1') {
              result_html += '  <li filter-id="' + members.results[i]['id'] + '">' + members.results[i]['title'] + '</li>';
              count++;
            }
          }
          if(!count) {
            result_html += '  <li><span style="margin-left: 10px;">No Results</span></li>';
          }
          result_html += '  </ul>';
          result_html += '</div>';
          thisthis.next('.uvdesk-dropdown').css('display', 'none');
          thisthis.after(result_html);
        }
        thisthis.prev().css('display', 'none');
        return;
      }
    }

    if (!inprocess) {
      $.ajax({
        url: 'index.php?route=uvdesk/uvdesk/getFilters&user_token={{ user_token }}&search=' + value,
        dataType: 'json',
        data: {url: '{{ url }}', type: type},
        type: 'post',
        beforeSend: function () {
          $('.uvdesk-dropdown').remove();
          inprocess = 1;
        },
        success: function(json) {
          if (json['results']) {
            if (type == 'filter-assigned' && localStorage) {
              var uvdesk_members = {};
              uvdesk_members['results'] = json['results'];
              var now = new Date().getTime();
              uvdesk_members['timestamp'] = now;
              localStorage.uvdesk_members = JSON.stringify(uvdesk_members);
            }
            var result_html = '';
            result_html += '<div class="uvdesk-dropdown">';
            result_html += '  <ul>';

            for (var i = 0; i < json['results'].length; i++) {
              if (json['results'][i]["title"].toLowerCase().search(value) != '-1') {
                result_html += '  <li filter-id="' + json['results'][i]['id'] + '">' + json['results'][i]['title'] + '</li>';
              }
            }
            result_html += '  </ul>';
            result_html += '</div>';
            thisthis.after(result_html);
          } else {
            var result_html = '<div class="uvdesk-dropdown"><ul><li><span style="margin-left: 10px;">No Results</span></li></ul></div>';
            thisthis.after(result_html);
          }
          thisthis.prev().css('display', 'none');
          inprocess = 0;
        },
        error: function () {
          inprocess = 0;
        }
      });
    }
  };

  var status = 1, page = 1, search = '', scrollDown = 0, group = 0, team = 0, priority = 0, type = 0, mailbox = 0, tag = 0, tab = 1, agent = 0, customer = 0;

  function filteredData(refresh) {
    var data = {};
    data.page = page;
    data.search = search;
    data.status = status;
    if (group) {
      data.group = group;
    }
    if (team) {
      data.team = team;
    }
    if (priority) {
      data.priority = priority;
    }
    if (type) {
      data.type = type;
    }
    if (mailbox) {
      data.mailbox = mailbox;
    }
    if (tab) {
      data.tab = tab;
    }
    if (tag) {
      data.tag = tag;
    }
    if (agent) {
      data.agent = agent;
    }
    if (customer) {
      data.customer = customer;
    }

    if(refresh) {
      var hash = window.location.hash.substring(1);
      var hash = hash.split('/');
      for (var j = 0; j < (hash.length-1); j++) {
        if(hash[j] == 'agent') {
          data.agent = hash[j+1];
          var result_html = '';
          var members = JSON.parse(localStorage.uvdesk_members);
          var selected_agent = (data.agent).split(',');
          if (members.results) {
            for (var i = 0; i < members.results.length; i++) {
              if (jQuery.inArray(members.results[i]['id'].toString(),selected_agent) != -1) {
                result_html += '<span class="label label-info">' + members.results[i]['title'] + ' <i class="fa fa-times remove" filter-id="' + members.results[i]['id'] + '"></i></span>&nbsp;';
              }
            }
            $('#filter-assigned').parent().before(result_html);
          }
        }
        if(hash[j] == 'customer') {
          data.customer = hash[j+1];
          var customers = JSON.parse(localStorage.uvdesk_customers);
          var result_html = '';
          var selected_customer = (data.customer).split(',');

          if (customers) {
            for (var i = 0; i < customers.length; i++) {
              if (jQuery.inArray(customers[i]['id'].toString(),selected_customer) != -1) {
                result_html += '<span class="label label-info">' + customers[i]['name'] + ' <i class="fa fa-times remove" filter-id="' + customers[i]['id'] + '"></i></span>&nbsp;';
              }
            }
            $('#filter-customer').parent().before(result_html);
          }
        }
        if(hash[j] == 'tag') {
          data.tag = hash[j+1];
          var tags = JSON.parse(localStorage.uvdesk_tags);
          var result_html = '';
          var selected_tag = (data.tag).split(',');

          if (tags) {
            for (var i = 0; i < tags.length; i++) {
              if (jQuery.inArray(tags[i]['id'].toString(),selected_tag) != -1) {
                result_html += '<span class="label label-info">' + tags[i]['name'] + ' <i class="fa fa-times remove" filter-id="' + tags[i]['id'] + '"></i></span>&nbsp;';
              }
            }
            $('#filter-tag').parent().before(result_html);
          }
        }
        if(hash[j] == 'tab') {
          data.tab = hash[j+1];
        }
        if(hash[j] == 'mailbox') {
          data.mailbox = hash[j+1];
          var mailboxs = JSON.parse(localStorage.uvdesk_mailboxes);
          var result_html = '';
          var selected_mailbox = (data.mailbox).split(',');

          if (mailboxs) {
            for (var i = 0; i < mailboxs.length; i++) {
              if (jQuery.inArray(mailboxs[i]['id'].toString(),selected_mailbox) != -1) {
                result_html += '<span class="label label-info">' + mailboxs[i]['name'] + ' <i class="fa fa-times remove" filter-id="' + mailboxs[i]['id'] + '"></i></span>&nbsp;';
              }
            }
            $('#filter-mailbox').parent().before(result_html);
          }
        }
        if(hash[j] == 'type') {
          var result_html = '';
          data.type = hash[j+1];
          var types = JSON.parse(localStorage.uvdesk_types);
          var selected_type = (data.type).split(',');

          if (types) {
            for (var i = 0; i < types.length; i++) {
              if (jQuery.inArray(types[i]['id'].toString(),selected_type) != -1) {
                result_html += '<span class="label label-info">' + types[i]['name'] + ' <i class="fa fa-times remove" filter-id="' + types[i]['id'] + '"></i></span>&nbsp;';
              }
            }
            $('#filter-type').parent().before(result_html);
          }
        }
        if(hash[j] == 'priority') {
          data.priority = hash[j+1];
          var priorities = JSON.parse(localStorage.uvdesk_priorities);
          var result_html = '';
          var selected_priority = (data.priority).split(',');

          if (priorities) {
            for (var i = 0; i < priorities.length; i++) {
              if (jQuery.inArray(priorities[i]['id'].toString(),selected_priority) != -1) {
                result_html += '<span class="label label-info">' + priorities[i]['name'] + ' <i class="fa fa-times remove" filter-id="' + priorities[i]['id'] + '"></i></span>&nbsp;';
              }
            }
            $('#filter-priority').parent().before(result_html);
          }
        }
        if(hash[j] == 'team') {
          data.team = hash[j+1];
          var teams = JSON.parse(localStorage.uvdesk_teams);
          var result_html = '';
          var selected_team = (data.team).split(',');

          if (teams) {
            for (var i = 0; i < teams.length; i++) {
              if (jQuery.inArray(teams[i]['id'].toString(),selected_team) != -1) {
                result_html += '<span class="label label-info">' + teams[i]['name'] + ' <i class="fa fa-times remove" filter-id="' + teams[i]['id'] + '"></i></span>&nbsp;';
              }
            }
            $('#filter-team').parent().before(result_html);
          }
        }
        if(hash[j] == 'group') {
          data.group = hash[j+1];
          var result_html = '';
          var groups = JSON.parse(localStorage.uvdesk_groups);
          var selected_group = (data.group).split(',');
          if (groups) {
            for (var i = 0; i < groups.length; i++) {
              if (jQuery.inArray(groups[i]['id'].toString(),selected_group) != -1) {
                result_html += '<span class="label label-info">' + groups[i]['name'] + ' <i class="fa fa-times remove" filter-id="'+groups[i]['id']+'"></i></span>&nbsp';
              }
            }
            $('#filter-group').parent().before(result_html);
          }
        }
      }
    }

    if (!inprocess) {
      $.ajax({
        url: 'index.php?route=uvdesk/uvdesk/filteredTickets&user_token={{ user_token }}{{ url }}',
        dataType: 'html',
        data: data,
        type: 'get',
        beforeSend: function () {
          inprocess = 1;
          $('body .loader-div').css('display', 'block');
        },
        success: function(html) {
          $('body .loader-div').css('display', 'none');
          $('#ticket-list').html(html);

          setTimeout(function () {
            $('html, body').animate({ scrollTop: 130 }, 'slow');
          }, 500);
          $('.selectpicker').selectpicker('refresh');
          inprocess = 0;
        },
        error: function () {
          $('.loader-div').css('display', 'none');
          inprocess = 0;
        }
      });
    }
  };
  var refresh = 1;
  filteredData(refresh);

  $('#ticket-list').delegate('.pagination a', 'click', function(e) {
      e.preventDefault();

      $('body .loader-div').css('display', 'block');

      $('#ticket-list').load(this.href);

      setTimeout(function () {
        $('body .loader-div').css('display', 'none');
      }, 500);

      setTimeout(function () {
        $('html, body').animate({ scrollTop: 130 }, 'slow');
      }, 500);
  });

  $('#ticket-list').delegate('.panel-heading a', 'click', function(e) {
      var tab_id = $(this).attr('tab-id');

      if (tab_id == tab) {
        return;
      }

      tab = tab_id;

      setHash('tab', tab);
      filteredData();

      setTimeout(function () {
        $('html, body').animate({ scrollTop: 130 }, 'slow');
      }, 1000);
  });

  $('body').on('click', '.uvdesk-dropdown li', function () {
    var flag = true;
    var thisthis = $(this);
    var filter_id = thisthis.attr('filter-id');
    var drop_parent = thisthis.parent().parent().parent();
    var filter_type = drop_parent.attr('filter-type');

    eval("var filter_name = " + filter_type + ";");

    if (filter_name) {
      var prior_length = filter_name.length;
      if (prior_length > 1) {
        var prior = filter_name.split(',');
        for (var i = 0; i < prior_length; i++) {
          if (prior[i] == filter_id) {
            flag = false;
          }
        }
        if (flag) {
          eval(filter_type + " += ',' + '" + filter_id + "';");
        }
      } else {
        if (filter_name == filter_id) {
          flag = false;
        } else {
          eval(filter_type + " += ',' + '" + filter_id + "';");
        }
      }
    } else {
      eval(filter_type + " = '" + filter_id + "';");
    }

    if (flag) {
      thisthis.parent().parent().parent().before('<span class="label label-info">' + thisthis.text() + ' <i class="fa fa-times remove" filter-id="' + filter_id + '"></i></span> ');
      filteredData();
      drop_parent.children('input').val('');
      setHash(filter_type, eval(filter_type));
    }
  });

  function setHash(filter_type, filter_id) {
    var flag = true;
    var new_hash = '';
    var hash_url = window.location.hash.substr(1);
    if (!(hash_url == '')) {
      hash_url += '/';
    }
    var hash_array = hash_url.split('/');

    for (var i = 0; i < hash_array.length; i++) {
      if (hash_array[i] == filter_type) {
        hash_array[i+1] = filter_id;
        flag = false;
      }
      if (!(new_hash == '') && !(hash_array[i] == '')) {
        new_hash += '/' + hash_array[i];
      } else {
        new_hash += hash_array[i];
      }
    }

    if (flag) {
      window.location.hash = hash_url + filter_type + '/' + filter_id;
    } else {
      window.location.hash = new_hash;
    }
  }

  function removeHash(filter_type) {
    var new_hash = '';
    var hash_url = window.location.hash.substr(1);
    var hash_array = hash_url.split('/');

    for (var i = 0; i < hash_array.length; i++) {
      if (hash_array[i] == filter_type) {
        i++;
      } else {
        if (!(new_hash == '') && !(hash_array[i] == '')) {
          new_hash += '/' + hash_array[i];
        } else {
          new_hash += hash_array[i];
        }
      }
    }
    window.location.hash = new_hash;
  }

  $('body').on('click', '.remove', function () {
    var filter_id = $(this).attr('filter-id');
    var filter_type = $(this).parent().parent().children('.pos-relative').attr('filter-type');
    var filter_value = '';
    eval("var filter_name = " + filter_type + ";");
    var filter_len = filter_name.length;
    if (filter_len > 1) {
      var filter = filter_name.split(',');
      for (var i = 0; i < filter.length; i++) {
        if (!(filter[i] == filter_id)) {
          if (filter_value == '') {
            filter_value = filter[i];
          } else {
            filter_value += ',' + filter[i];
          }
        }
      }
      eval(filter_type + " = '" + filter_value + "';");
    } else {
      eval(filter_type + " = 0;");
    }
    filteredData();
    if(filter_value) {
      setHash(filter_type, filter_value);
    } else {
      removeHash(filter_type);
    }
    $(this).parent().remove();
  });

  $('body').on('click', '.text-left .badge, .text-left .btn-primary', function () {
    var ht = $(this).next().html();
    var element = $(this);

    setTimeout(function() {
      element.parent().find('.dropdown-toggle').trigger("click");
    }, 50);

    if (localStorage && localStorage.uvdesk_members) {
      var members = JSON.parse(localStorage.uvdesk_members);
      var now = new Date().getTime();

      if ((members.timestamp + 900000) > now) {
        if (members.results) {
          var result_html = '';

          for (var i = 0; i < members.results.length; i++) {
              result_html += '  <option filter-id="' + members.results[i]['id'] + '">' + members.results[i]['title'] + '</option>';
          }
          $('#ticket-list .selectpicker').html(result_html);
          $('.selectpicker').selectpicker('refresh');
        }
        return;
      }
    }

    if (!inprocess) {
      $.ajax({
        url: 'index.php?route=uvdesk/uvdesk/getFilters&user_token={{ user_token }}&search=',
        dataType: 'json',
        data: {type: 'filter-assigned'},
        type: 'post',
        beforeSend: function () {
          inprocess = 1;
        },
        success: function(json) {
          if (json['results']) {
            if (localStorage) {
              var uvdesk_members = {};
              uvdesk_members['results'] = json['results'];
              var now = new Date().getTime();
              uvdesk_members['timestamp'] = now;
              localStorage.uvdesk_members = JSON.stringify(uvdesk_members);
            }
            var result_html = '';
            result_html += '<div class="uvdesk-dropdown">';
            result_html += '  <ul>';

            for (var i = 0; i < json['results'].length; i++) {
              result_html += '  <option filter-id="' + json['results'][i]['id'] + '">' + json['results'][i]['title'] + '</option>';
            }
            result_html += '  </ul>';
            result_html += '</div>';
            $('#ticket-list .selectpicker').html(result_html);
            $('.selectpicker').selectpicker('refresh');
          }
          inprocess = 0;
        },
        error: function () {
          inprocess = 0;
        }
      });
    }
  });

  $('body').on('click', '#ticket-list .dropdown-menu li', function () {
    var thisthis = $(this);
    var thisparent = thisthis.parent().parent().parent().parent();
    var agent_index = thisthis.attr('data-original-index');
    var ticket_id = thisparent.attr('ticket-id');
    var pre_agent_id = thisparent.attr('agent-id');
    var agent_id = 0;
    var agent_name = '';

    if (localStorage && localStorage.uvdesk_members) {
      var agents = JSON.parse(localStorage.uvdesk_members);
      agent_id = agents['results'][agent_index]['id'];
      agent_name = agents['results'][agent_index]['title'];
    }

    if (agent_id && !(agent_id == pre_agent_id)) {
      $.ajax({
        url: 'index.php?route=uvdesk/uvdesk/assignAgent&user_token={{ user_token }}',
        dataType: 'json',
        data: {ticket_id: ticket_id, agent_id: agent_id},
        type: 'post',
        beforeSend: function () {
          $('.alert').remove();
          $('body .loader-div').css('display', 'block');
        },
        success: function(json) {
          $('body .loader-div').css('display', 'none');
          if (json['success']) {
            setTimeout(function () {
              $('html, body').animate({ scrollTop: 30 }, 'slow');
            }, 500);
            $('.container-fluid:last').prepend('<div class="alert alert-success"><i class="fa fa-check-circle"></i> ' + json['success'] + '<button type="button" class="close" data-dismiss="alert">&times;</button></div>');
            if (thisparent.children('.addAgent').hasClass('addAgent')) {
              thisparent.children('.addAgent').remove();
              thisparent.prepend('<span class="badge"><i class="fa fa-pencil"></i></span> <span class="agentName">' + agent_name + '</span>');
            } else {
              thisparent.children('.agentName').text(agent_name);
            }
          }
        }
      });
    }
  });
</script>
{{ footer }}
